In [2]:
import pandas as pd
import numpy as np
import os
import qgrid
import nltk
from nltk import word_tokenize
import datetime
import pivottablejs

In [47]:
def add_features(df):
    new_df = df
    
    start_date = [str(val) for val in new_df['date']]            
    
    month_num = [int(month[0:month.index('/')]) for month in start_date]
    
    year = [int(year[-4:]) for year in start_date]
    
    seasons_map = {'summer':[12, 1, 2], 'autumn':[3, 4, 5],
                   'winter':[6, 7, 8], 'spring': [9, 10, 11]}
    
    seasons = [k for month in month_num for k, v in seasons_map.items() if month in v]
    
    month_map = {'January':1, 'February':2, 'March':3, 'April': 4, 'May': 5, 'June': 6, 'July': 7,
            'August': 8, 'September': 9, 'October': 10, 'November': 11, 'December': 12}
    
    month_names = [k for month in month_num for k, v in month_map.items() if v==month]
    
    new_df['Seasons'] = seasons
    new_df['Month'] = month_names
    new_df['Year'] = year
    return new_df

In [5]:
def tokenize_text(text):
    words = word_tokenize(text)
    return words
def ascii_check(tokens):
    check = all([not(token.isascii()) for token in tokens])
    return check

In [6]:
#path info
file_path = '.'
files = [item for item in os.listdir(path=file_path) if item.endswith('csv')]

In [ ]:
#%sql mysql+pymysql://root:PyncinCedtajde3@localhost/sakila

In [7]:
# %sql USE sakila;
# %sql PERSIST airbnb_reviews
mm = '08/25/18'
mm.index('/')

2

In [8]:
airbnb_reviews = pd.read_csv('AirBNB_ReviewData.csv')

In [9]:
airbnb_reviews.head()
comment_text = [tokenize_text(str(comment)) for comment in airbnb_reviews.comments]

,listing_id,id,date,reviewer_id,reviewer_name,comments,listing_name,host_id,listing_latitude,listing_longitude,host_name,Locale
0,11156,19220,12/5/2009,52946,Jeff,Colleen was friendly and very helpful regardin...,An Oasis in the City,40855,-33.869342,151.226878,Colleen,Sydney
1,11156,32592,3/31/2010,99382,Michael,"Great place, centrally located, easy walk to t...",An Oasis in the City,40855,-33.869342,151.226878,Colleen,Sydney
2,11156,42280,5/14/2010,105797,Marina,Colleen is very friendly and helpful. The apar...,An Oasis in the City,40855,-33.869342,151.226878,Colleen,Sydney
3,12351,68394,7/24/2010,45760,Anna,This was my first Airbnb experience and I am h...,Sydney City & Harbour at the door,17061,-33.865153,151.191896,Vinh+Stuart,Sydney
4,12936,73473,8/4/2010,111479,Brian,Perfect apartment in a perfect location!!!! \r...,Super Chic & Central! 1 BR APT+WIFI,50121,-37.859755,144.977369,Frank And Vince,Melbourne

In [53]:
airbnb_rvw = add_features(airbnb_reviews)
comment_length = [len(comment) for comment in comment_text]
airbnb_rvw['comment_length'] = comment_length

In [54]:
airbnb_rvw = qgrid.show_grid(add_features(airbnb_reviews), show_toolbar=True)

In [55]:
airbnb_rvw

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defauâ€¦

In [61]:
a_bnb_rvw_seasons = airbnb_rvw.get_changed_df()
a_bnb_rvw_seasons.to_csv('airbnb_rvw_wSeasons.csv')

In [59]:
pivottablejs.pivot_ui(a_bnb_rvw_seasons)

In [ ]:
seasons_map = {'winter':[12, 1, 2], 'spring':[3, 4, 5],
               'summer':[6, 7, 8], 'autumn': [9, 10, 11]}
        
seasons = [k for k, v in seasons_map.items() 
           for count, month in enumerate(month_num) if month_num[count] in v]

In [ ]:
month_map = {'January':1, 'February':2, 'March':3, 'April': 4, 'May': 5, 'June': 6, 'July': 7,
            'August': 8, 'September': 9, 'October': 10, 'November': 11, 'December': 12}
    
month_names = [k for k, v in month_map.items() for count, month in enumerate(month_num) if month_num[count] == v]