In [113]:
import pandas as pd
import numpy as np
import os
import qgrid
import nltk
from nltk import word_tokenize
import datetime

In [92]:
def tokenize_text(text):
    """Return tokenized list of words"""
    words = word_tokenize(text)
    return words
def ascii_check(tokens):
    check = all([not(token.isascii()) for token in tokens])
    return check

In [4]:
#path info
file_path = '.'
files = [item for item in os.listdir(path=file_path) if item.endswith('csv')]

In [3]:
%sql mysql+pymysql://root:PyncinCedtajde3@localhost/sakila

'Connected: root@sakila'

In [171]:
%sql USE sakila;
%sql PERSIST airbnb_reviews

In [13]:
airbnb_reviews = pd.read_csv('AirBNB_ReviewData.csv')

In [89]:
airbnb_reviews.head()
comment_text = [tokenize_text(str(comment)) for comment in airbnb_reviews.comments]

,listing_id,id,date,reviewer_id,reviewer_name,comments,listing_name,host_id,listing_latitude,listing_longitude,host_name,Locale
0,11156,19220,12/5/2009,52946,Jeff,Colleen was friendly and very helpful regardin...,An Oasis in the City,40855,-33.869342,151.226878,Colleen,Sydney
1,11156,32592,3/31/2010,99382,Michael,"Great place, centrally located, easy walk to t...",An Oasis in the City,40855,-33.869342,151.226878,Colleen,Sydney
2,11156,42280,5/14/2010,105797,Marina,Colleen is very friendly and helpful. The apar...,An Oasis in the City,40855,-33.869342,151.226878,Colleen,Sydney
3,12351,68394,7/24/2010,45760,Anna,This was my first Airbnb experience and I am h...,Sydney City & Harbour at the door,17061,-33.865153,151.191896,Vinh+Stuart,Sydney
4,12936,73473,8/4/2010,111479,Brian,Perfect apartment in a perfect location!!!! \r...,Super Chic & Central! 1 BR APT+WIFI,50121,-37.859755,144.977369,Frank And Vince,Melbourne

In [162]:
non_ascii_comments = [ascii_check(comment) for comment in comment_text]
comment_length = [len(comment) for comment in comment_text]

In [164]:
year = [int(str(val)[-4:]) for val in airbnb_reviews.date]
airbnb_reviews['non_ascii'] = non_ascii_comments
airbnb_reviews['year'] = year
airbnb_reviews['comment_length'] = comment_length

In [165]:
q_widget = qgrid.show_grid(airbnb_reviews, show_toolbar=True)
q_widget

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defauâ€¦

In [168]:
airbnb_review_ascii = q_widget.get_changed_df()
airbnb_review_ascii.drop(columns=['year', 'non_ascii'],axis=1).to_csv('airbnb_review_ascii.csv')