In [1]:
import pandas as pd
import numpy as np
import datetime
datetime.datetime.strptime

In [3]:
#import CSV
reviews_csv = "../../airbnb_rvw_wSeasons.csv"

reviews_df = pd.read_csv(reviews_csv, encoding='latin-1')

In [4]:
reviews_df.head()

,listing_id,id,date,reviewer_id,reviewer_name,Description,comments,listing_name,host_id,listing_latitude,listing_longitude,host_name,Locale,Seasons,Month,Year,comment_length,Polarity,BaseMap
0,654926,3437394,1/29/13,4579346,Patricia,A wonderful large terrace with loads of charac...,G,Fitzroy Terrace - Melbourne style!,3296183,-37.799751,144.981661,Frances,Melbourne,summer,January,2013,1,0%,ASCII_Base
1,256569,3610042,2/26/13,2219217,Jenny,Sandstone apartment Beaches Coastal walks Exce...,.,Sandstone Apartment - 300m to Beach,1347315,-33.908901,151.259232,John And Mitch,Sydney,summer,February,2013,1,0%,ASCII_Base
2,405515,4623670,5/16/13,5516808,Jeff,Student or young lady safe in your own small a...,NaN,MELB NICE PRIVATE UNIT & MEALS,1214242,-37.710290,144.951188,Mal,Melbourne,autumn,May,2013,1,Not Trained,ASCII_Base
3,11156,5010297,6/7/13,6138747,Ratna,Very central to the city which can be reached ...,NaN,An Oasis in the City,40855,-33.869342,151.226878,Colleen,Sydney,winter,June,2013,1,Not Trained,ASCII_Base
4,483719,5764824,7/15/13,4359183,Michael,Private self contained ground floor studio apa...,Good,Quiet Studio Next to Train Station,9082,-37.742086,145.065408,Dennis,Melbourne,winter,July,2013,1,44%,ASCII_Base

In [5]:
reviews_df.shape

(177340, 19)

In [6]:
#check for null values
reviews_df.isnull().any()

listing_id           False
id                   False
date                 False
reviewer_id          False
reviewer_name        False
Description          False
comments              True
listing_name          True
host_id              False
listing_latitude     False
listing_longitude    False
host_name             True
Locale               False
Seasons              False
Month                False
Year                 False
comment_length       False
Polarity             False
BaseMap              False
dtype: bool

In [7]:
#Dropping rows with no reviews
clean_reviews_df= reviews_df[reviews_df.comments.notnull()]

In [8]:
clean_reviews_df.isnull().any()

listing_id           False
id                   False
date                 False
reviewer_id          False
reviewer_name        False
Description          False
comments             False
listing_name          True
host_id              False
listing_latitude     False
listing_longitude    False
host_name             True
Locale               False
Seasons              False
Month                False
Year                 False
comment_length       False
Polarity             False
BaseMap              False
dtype: bool

In [9]:
clean_reviews_df.head()

,listing_id,id,date,reviewer_id,reviewer_name,Description,comments,listing_name,host_id,listing_latitude,listing_longitude,host_name,Locale,Seasons,Month,Year,comment_length,Polarity,BaseMap
0,654926,3437394,1/29/13,4579346,Patricia,A wonderful large terrace with loads of charac...,G,Fitzroy Terrace - Melbourne style!,3296183,-37.799751,144.981661,Frances,Melbourne,summer,January,2013,1,0%,ASCII_Base
1,256569,3610042,2/26/13,2219217,Jenny,Sandstone apartment Beaches Coastal walks Exce...,.,Sandstone Apartment - 300m to Beach,1347315,-33.908901,151.259232,John And Mitch,Sydney,summer,February,2013,1,0%,ASCII_Base
4,483719,5764824,7/15/13,4359183,Michael,Private self contained ground floor studio apa...,Good,Quiet Studio Next to Train Station,9082,-37.742086,145.065408,Dennis,Melbourne,winter,July,2013,1,44%,ASCII_Base
8,2022615,9450029,12/29/13,9350820,Katya,Cute artistic light filled Victorian workers t...,.,Enjoy Melbourne from the heart,3173481,-37.787930,144.983777,Rose,Melbourne,summer,December,2013,1,0%,ASCII_Base
19,2079482,10958752,3/15/14,5405798,Julian,Great little 1 bedroom apartment with every th...,Top,"1 bedroom, courtyard, extreme charm",2472571,-33.870193,151.221266,Bianca,Sydney,autumn,March,2014,1,20%,ASCII_Base

In [10]:
clean_reviews_df.shape

(177311, 19)

In [11]:
#remove punctuation from comments
import string

def remove_punctuations(text):
    for punctuation in string.punctuation:
        text = text.replace(punctuation, '')
    return text

clean_reviews_df["comments"] = clean_reviews_df['comments'].apply(remove_punctuations)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [14]:
clean_reviews_df.shape

(177311, 19)

In [15]:
clean_reviews_df.to_csv('airbnb_reviews.csv')